<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro missao</title>
</head>
<body>
    <h1>Cadastro Missão</h1>

    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% for categoria, mensagem in mensagens %}
            {% if categoria == 'sucesso' %}
                <div>{{ mensagem }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <form method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Destino:</label>
        <input type="text" name="destino" required>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
